@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation {
    @apply transition-all ease-out duration-200;
  }
}

.BS {
  box-shadow: rgba(227, 95, 33, 0.35) 0px 0px 20px;
}

.wmde-markdown-var.w-md-editor.w-md-editor-show-live{
background: black !important;
}

.w-md-editor-toolbar {
background: #000 !important;
}

.wmde-markdown.wmde-markdown-color.w-md-editor-preview {
background: #000 !important;
}

.wmde-markdown.wmde-markdown-color {
background: #000 !important;
}
